@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>Bienvenido a Computek</h1>
    <p>Explora nuestro sistema de ingreso y gestión de equipos.</p>
    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
</div>
