 @model APS.Web.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<style>
   
body {
        margin: 0;
        padding: 0;
        height: 100%;
        background: linear-gradient(135deg, #083C60, #83CCCA);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial', sans-serif;
    }

    .login-card {
        background-color: #ffffff; /* Fondo de la tarjeta */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
        border-radius: 15px;
        max-width: 450px;
        width: 90%;
        padding: 30px;
        text-align: center;
    }

        .login-card h3 {
            margin-bottom: 15px;
            color: #083C60;
            font-size: 24px;
            font-weight: bold;
        }

        .login-card .form-control {
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #ddd;
            padding: 15px;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
        }

        .login-card .btn-primary {
            background-color: #083C60;
            border-color: #083C60;
            border-radius: 10px;
            font-weight: bold;
            font-size: 18px;
            width: 100%;
            padding: 12px;
            color: #ffffff;
            transition: background-color 0.3s;
        }

            .login-card .btn-primary:hover {
                background-color: #062C46;
                border-color: #062C46;
            }

        .login-card .forgot-password a {
            color: #083C60;
            text-decoration: none;
            font-size: 14px;
        }

            .login-card .forgot-password a:hover {
                text-decoration: underline;
                color: #062C46;
            }
</style>

<div class="login-card">
    <h3>Computek</h3>
    <form asp-action="Login" method="post">
        <h4 class="mb-4">@ViewData["Title"]</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input asp-for="Email" class="form-control" type="email" placeholder="Correo electrónico" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Password" class="form-control" type="password" placeholder="Contraseña" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>

        <div class="forgot-password mt-3">
            <a asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>
