@model APS.Data.Models.Equipo

@{
    ViewData["Title"] = "Editar Equipo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <h2>Editar Equipo</h2>
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="EquipoId" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Marca">Marca</label>
                                <input asp-for="Marca" class="form-control" />
                                <span asp-validation-for="Marca" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Modelo">Modelo</label>
                                <input asp-for="Modelo" class="form-control" />
                                <span asp-validation-for="Modelo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="NombreCliente">Nombre del Cliente</label>
                        <input asp-for="NombreCliente" class="form-control" />
                        <span asp-validation-for="NombreCliente" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="MotivoIngreso">Motivo de Ingreso</label>
                        <input asp-for="MotivoIngreso" class="form-control" />
                        <span asp-validation-for="MotivoIngreso" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="GarantiaConLocal">Garantía con Local</label>
                                <!-- Si esta propiedad es booleana lo ideal es usar un checkbox -->
                                <div class="form-check">
                                    <input asp-for="GarantiaConLocal" class="form-check-input" type="checkbox" />
                                    <label class="form-check-label" asp-for="GarantiaConLocal"></label>
                                </div>
                                <span asp-validation-for="GarantiaConLocal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="ContraseñaEquipo">Contraseña del Equipo</label>
                                <input asp-for="ContraseñaEquipo" class="form-control" />
                                <span asp-validation-for="ContraseñaEquipo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Descripcion">Descripción</label>
                        <textarea asp-for="Descripcion" class="form-control"
                                  style="height: 80px; max-width: 700px;"
                                  rows="2"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>


                    <div class="form-group mb-3">
                        <label asp-for="FechaIngreso">Fecha de Ingreso</label>
                        <input asp-for="FechaIngreso" class="form-control" type="date" />
                        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success px-4">Guardar</button>
                        <a asp-action="Index" class="btn btn-danger px-4">Cancelar</a>
                        <!-- Botón para ejecutar window.print() y abrir la ventana de impresión -->
                        <button type="button" class="btn btn-primary px-4" onclick="window.print()">Imprimir Reporte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
